/* work sans font from google font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* shared styles */
.btn-primary {
    padding: 21px 40px;
    border: none;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 2.5rem
}

.btn-extra {
    background: #4EC5F7;
}

.section-content {
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
}

/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    align-items: center;
    padding-top: 38px;
    padding-bottom: 38px;
    padding-left: 240px;
    padding-right: calc(240px - 32px);
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 32px;
}

nav a {
    text-decoration: none;
}

.nav-icon {
    display: flex;
    align-items: center;
}

.gamer img {
    width: 100%;
    height: 100%;
}

.gamer {
    font-size: 2.8rem;
    font-weight: 700;
    margin-left: 20px;
}

.g {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.amer {
    color: #0B0223;
}

.nav-right {
    color: #3C354F;
    font-size: 1.2rem;
    font-weight: 500;
}

.nav-follow {
    margin-right: 8px;
}

.nav-follow-icon {
    display: flex;
    gap: 10px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 24px;
    margin-top: calc(20px - 36px);
}

.nav-follow-icon img {
    width: 28px;
    height: 24px;
}

/* header styles */
.header-main {
    display: flex;
    align-items: center;
    padding: 20px 240px;
}

.header-img {
    width: 100%;
    height: 100%;
    margin-left: 435px;
}

.header-img img {
    width: 711px;
    height: 681px;
}

/* .header-content{
    background-image: url('images/Rectangle 55.png');
} */

.head-icon {
    width: 24px;
    height: 24px;
}

.head-icon-p {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

.head-play {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
}

.head-goat {
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0;
    margin-bottom: 0;
}

.head-icon-p p {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: lowercase;
}

/* banner styles */
.banner-container {
    display: flex;
    gap: 52px;
    padding: 55px 240px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    text-align: right;
}

.banner-gamer {
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-purpose {
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
}

.banner-unleash {
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}


/* service styles */
.services {
    margin: 120px 240px;
}

.service-title {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.service-funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.collection {
    text-align: center;
}

.card {
    display: flex;
    gap: 24px;
}

.card-details {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.card-img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.card-img {
    width: 365px;
    height: 420px;
}

/* anniversary styles  */
.anniversary {
    display: flex;
    gap: 115px;
    margin-left: 440px;
    margin-right: 240px;
    margin-bottom: 0;
}

.anniversary-title {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 0;
    margin-top: 230px;
}

.anniversary-no-download {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.anniversary-play {
    text-align: right;
}

.anniversary-img1 {
    margin-left: 145px;
    width: 634px;
    height: 650px;
}

.anniversary-img2 {
    position: relative;
    bottom: 250px;
    width: 318px;
    height: 365px;
}

/* anywhere styles */
.anywhere {
    display: flex;
    gap: 310px;
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 0;
}

.anywhere-title {
    text-align: left;
}

.anywhere-details {
    text-align: left;
}

.anywhere-img1 {
    width: 634px;
    height: 650px;
}

.anywhere-img2 {
    position: relative;
    bottom: 250px;
    left: 450px;
    width: 318px;
    height: 365px;
}

/* careers styles */

.careers {
    display: flex;
    height: 821px;
    padding-left: 240px;
    align-items: center;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.career-title {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.career-description {
    width: 680px;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.data-container {
    display: flex;
    gap: 97px;
}

.data1 {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
}

.data2 {
    color: #FFF;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
}

.btn2 {
    margin-top: 40px;
    padding: 21px 40px;
    border-radius: 48px;
    border: none;
    background: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FF42A5;
}

/* responsive styles */
@media screen and (max-width: 576px) {
    nav {
        flex-direction: column;
        padding: 0;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .header-main {
        flex-direction: column-reverse;
        gap: 70px;
        padding: 0;
    }

    .header-img {
        padding-top: 80px;
        margin-left: 0;
    }

    .header-img img {
        width: 350px;
        height: 380px;
    }

    .banner-container {
        flex-direction: column;
        gap: 10px;
        padding: 0;
        margin: 0;
        background: none;
        text-align: center;
    }

    .banner-container img {
        margin-top: 80px;
        width: 100%;
        height: 100%;
    }

    .services {
        margin: 80px 5px;
    }

    .card {
        flex-direction: column;
        gap: 24px;
        margin-top: 80PX;
        margin-bottom: 0;
    }

    .anniversary {
        flex-direction: column;
        gap: 70px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
    }

    .anniversary-img1 {
        margin-left: 20%;
        width: 80%;
        height: 90%;
    }

    .anniversary-img2 {
        position: relative;
        bottom: 90px;
        width: 130px;
        height: 160px;
    }

    .anniversary-title,
    .anniversary-play,
    .anniversary-no-download {
        text-align: center;
    }

    .anniversary-title {
        margin-top: 0;
    }

    .anywhere {
        flex-direction: column-reverse;
        gap: 70px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
    }

    .anywhere-img1 {
        margin-right: 0;
        width: 80%;
        height: 90%;
    }

    .anywhere-img2 {
        position: relative;
        bottom: 90px;
        left: 240px;
        width: 120px;
        height: 160px;
    }

    .careers {
        flex-direction: column;
        width: 100%;
        height: 1300px;
        padding-left: 10px;
    }

    .career-description {
        width: 90%;
        padding: 10px;

    }
    .data-container {
        gap: 20px;
        padding: 20px;
    }


    .data1 {
        font-size: 10px;
        font-weight: 400;
    }
    
    .data2 {
        text-align: right;
        font-size: 10px;
        font-weight: 400;
    }
    .careers-img{
        width: 90%;
        margin: 100px 10px;
    }

}